# Python bytecode
__pycache__/

# Config
.azure/
.vscode/

# Environment
/.venv
.env

# DB
garmin_data.db

# temp
fit-files/
zzzignored/
resources/
tree-maker/

docs/roles_skills.md
docs/definition_of_done.md
notebooks/test.ipynb
